$Color__Error: rgb(255, 164, 164)
$Color__Success: rgb(164, 255, 199)
    
@mixin pop($anime, $state)
    position: fixed
    z-index: 1000
    top: 8px
    left: 50%
    background-color: $state
    display: flex
    align-items: center
    justify-content: space-evenly
    transform: translate(-50%, -100px)
    opacity: 0
    height: 60px
    width: fit-content
    padding: 0 36px
    border-radius: 8px
    opacity: 1
    animation-name: $anime
    animation-duration: 1600ms
    animation-fill-mode: ease-in-out

.Chipx
    @include pop(popup, $Color__Error)
    
.Chipy
    @include pop(popupx, $Color__Error)


.Chip
    @include pop(popup, $Color__Success)
    
.popup
    @include pop(popupx, $Color__Success)

.popup__msg
    color: $Color__Dark
    font-size: 14px

@keyframes popup
    0%
        transform: translate(-50%, -100px)
        opacity: 0
    25%
        transform: translate(-50%, 0px)
        opacity: 1
    75%
        transform: translate(-50%, 0px)
        opacity: 1
    100%
        transform: translate(150%, 0px)
        opacity: 0

@keyframes popupx
    0%
        transform: translate(-50%, -100px)
        opacity: 0
    25%
        transform: translate(-50%, 0px)
        opacity: 1
    75%
        transform: translate(-50%, 0px)
        opacity: 1
    100%
        transform: translate(150%, 0px)
        opacity: 0


#Section__Coins
    width: 90%
    padding: 24px 36px
    display: flex
    flex-direction: column
    .Coins__Ref
        display: flex
        align-items: center
        justify-content: space-between
        width: 50%
        margin-bottom: 24px
        .Coins__Cards__Heading
            font-size: 3rem
        .Coins__Refresh
            padding: 12px 26px
            background-color: $Color__Light
            color: $Color__Dark
            font-weight: 600
            cursor: pointer
            border: none
            border-radius: 6px
    .Coins__Cards
        width: 100%
        padding: 24px 0
        align-self: center
        .Coin__Data
            &:not(:last-child)
                margin-bottom: 48px
        .Coin__Card
            width: 100%
            display: flex
            align-items: flex-end
            justify-content: space-between
            .Coin__Card__Info
                background-color: $Color__Gray
                padding: 16px
                border-radius: 8px
                width: 50%
                .CCI__Header
                .Title
                    width: 100%
                    display: flex
                    align-items: center
                    .CCI__Icon
                        display: flex
                        align-items: center
                        justify-content: center
                        width: 50px
                        height: 50px
                        padding: 4px
                        border-radius: 4px
                        background-color: $Color__Light
                        margin-right: 16px
                        img
                            width: 30px
                            height: 30px
                .CCI__Body
                    width: 100%
                    margin-top: 16px
                    p
                        line-height: 28px
                .CCI__Footer
                    display: flex
                    align-items: center
                    justify-content: space-between
                    height: 40px
                    margin-top: 36px
                    button
                        cursor: pointer
                    .CCI__History
                        padding: 12px 18px
                        background-color: $Color__Light
                        border: none
                        border-radius: 6px
                        display: flex
                        align-items: center
                        justify-content: center
                        span
                            margin-right: 8px
                            color: $Color__Dark
                            font-weight: 600
                    .CCI__Social
                        display: flex
                        align-items: center
                        .Card__Social__Icons
                            color: $Color__Primary
                            margin-left: 12px

            .Coin__Card__Price
                width: 46%
                .CCP
                    width: 100%
                    display: flex
                    align-items: center
                    justify-content: center
                    height: 60px
                    padding: 0 12px
                    border-radius: 8px
                    background-color: $Color__Gray
                    &:not(:last-child)
                        margin-bottom: 16px
                    p
                        margin-right: 12px
                        color: $Color__Light

#Coin__Chart
    width: 100%
    padding: 16px
    margin-top: 16px
    background-color: $Color__Gray
    border-radius: 8px
    nav
        ul
            width: 80%
    .Close__Chart
        cursor: pointer
        margin-bottom: 16px
    .Chart__Canvas
        max-height: 400px
        min-width: auto


@media screen and ( max-width: 800px )
    #Section__Coins
        width: 100%
        padding: 24px 12px
        .Coins__Ref
            width: 100%
            .Coins__Cards__Heading
                font-size: 2rem
        .Coins__Cards
            width: 100%
            .Coin__Card
                flex-direction: column
                align-items: flex-start
                .Coin__Card__Info
                    width: 100%
                    margin-bottom: 12px
                    .CCI__Footer
                        height: 60px
                        .CCI__History
                            padding: 22px 18px
                        .CCI__Social
                            .Card__Social__Icons
                                margin-left: 16px

                .Coin__Card__Price
                    width: 100%
    
    #Coin__Chart
        nav
            height: fit-content
            ul
                width: 100%
                flex-direction: column
        .Uncharted
            width: 100%
            overflow-x: scroll
        .Chart__Alpha
            width: 2000px