#Section__Exchange
    width: 90%
    padding: 24px 36px
    display: flex
    flex-direction: column
    .Exchanges__Supported
        background-color: $Color__Gray
        margin-top: 16px
        padding: 16px
        border-radius: 8px
    .Drop__Supported
        height: 80px
        display: flex
        align-items: center
        justify-content: space-between
        cursor: pointer

.Exchanges__Supported__Group
    margin-top: 24px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto
    grid-gap: 16px
    .Chip__Container
        display: flex
        align-items: center
        height: 60px
    .Supported__Chip
        padding: 16px 32px
        background-color: $Color__Dark
        border-radius: 8px

@media screen and ( max-width: 800px )
    #Section__Exchange
        width: 100%
        padding: 24px 12px
        .Exchanges__Supported
            padding: 8px
        .Drop__Supported
            height: 50px
            h2
                font-size: 1.2rem

    .Exchanges__Supported__Group
        margin-top: 24px
        display: block
        .Chip__Container
            height: fit-content
            &:not(:last-child)
                margin-bottom: 16px
        .Supported__Chip
            padding: 16px 24px
            background-color: $Color__Dark
            border-radius: 8px
