@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0F0F0F;
}

body * {
  color: #FFFFFF;
  font-family: "Sora", sans-serif;
}

@-webkit-keyframes udanima {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes udanima {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 80vh;
  background-image: url("https://source.unsplash.com/dVcXOkpp3fk");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

header .container .Header__Heading {
  width: 80%;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

header .container .Header__SubHeading {
  margin-top: 16px;
  width: 60%;
  text-align: center;
  font-size: 1.1rem;
}

header .container .Header__Arrow {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: calc( 50% - 15px);
  -webkit-animation-name: udanima;
          animation-name: udanima;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (max-width: 800px) {
  header {
    width: 100%;
    height: 60vh;
  }
  header .container .Header__Heading {
    width: 100%;
    font-size: 2.4rem;
  }
  header .container .Header__SubHeading {
    width: 80%;
    text-align: center;
    font-size: 1rem;
  }
  header .container .Header__Arrow {
    bottom: 80px;
  }
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 12px;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 36px;
}

nav ul {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  display: inline-block;
  list-style: none;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  cursor: pointer;
  margin-bottom: 8px;
  border-bottom: 2px solid transparent;
}

nav ul li:hover {
  color: #CF1A29;
  border-bottom: 2px solid #CF1A29;
}

@media screen and (max-width: 800px) {
  nav ul {
    width: 100%;
  }
  nav ul li {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.Chipx {
  position: fixed;
  z-index: 1000;
  top: 8px;
  left: 50%;
  background-color: #ffa4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
  opacity: 0;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 36px;
  border-radius: 8px;
  opacity: 1;
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
}

.Chipy {
  position: fixed;
  z-index: 1000;
  top: 8px;
  left: 50%;
  background-color: #ffa4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
  opacity: 0;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 36px;
  border-radius: 8px;
  opacity: 1;
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
}

.Chip {
  position: fixed;
  z-index: 1000;
  top: 8px;
  left: 50%;
  background-color: #a4ffc7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
  opacity: 0;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 36px;
  border-radius: 8px;
  opacity: 1;
  -webkit-animation-name: popup;
          animation-name: popup;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
}

.popup {
  position: fixed;
  z-index: 1000;
  top: 8px;
  left: 50%;
  background-color: #a4ffc7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
  opacity: 0;
  height: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 36px;
  border-radius: 8px;
  opacity: 1;
  -webkit-animation-name: popupx;
          animation-name: popupx;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
}

.popup__msg {
  color: #0F0F0F;
  font-size: 14px;
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(150%, 0px);
            transform: translate(150%, 0px);
    opacity: 0;
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(150%, 0px);
            transform: translate(150%, 0px);
    opacity: 0;
  }
}

@-webkit-keyframes popupx {
  0% {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(150%, 0px);
            transform: translate(150%, 0px);
    opacity: 0;
  }
}

@keyframes popupx {
  0% {
    -webkit-transform: translate(-50%, -100px);
            transform: translate(-50%, -100px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  75% {
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(150%, 0px);
            transform: translate(150%, 0px);
    opacity: 0;
  }
}

#Section__Coins {
  width: 90%;
  padding: 24px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Section__Coins .Coins__Ref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-bottom: 24px;
}

#Section__Coins .Coins__Ref .Coins__Cards__Heading {
  font-size: 3rem;
}

#Section__Coins .Coins__Ref .Coins__Refresh {
  padding: 12px 26px;
  background-color: #FFFFFF;
  color: #0F0F0F;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

#Section__Coins .Coins__Cards {
  width: 100%;
  padding: 24px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#Section__Coins .Coins__Cards .Coin__Data:not(:last-child) {
  margin-bottom: 48px;
}

#Section__Coins .Coins__Cards .Coin__Card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info {
  background-color: #2A2A2A;
  padding: 16px;
  border-radius: 8px;
  width: 50%;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Header .CCI__Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-right: 16px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Header .CCI__Icon img {
  width: 30px;
  height: 30px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Body {
  width: 100%;
  margin-top: 16px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Body p {
  line-height: 28px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  margin-top: 36px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer button {
  cursor: pointer;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__History {
  padding: 12px 18px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__History span {
  margin-right: 8px;
  color: #0F0F0F;
  font-weight: 600;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__Social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__Social .Card__Social__Icons {
  color: #CF1A29;
  margin-left: 12px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Price {
  width: 46%;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Price .CCP {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #2A2A2A;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Price .CCP:not(:last-child) {
  margin-bottom: 16px;
}

#Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Price .CCP p {
  margin-right: 12px;
  color: #FFFFFF;
}

#Coin__Chart {
  width: 100%;
  padding: 16px;
  margin-top: 16px;
  background-color: #2A2A2A;
  border-radius: 8px;
}

#Coin__Chart nav ul {
  width: 80%;
}

#Coin__Chart .Close__Chart {
  cursor: pointer;
  margin-bottom: 16px;
}

#Coin__Chart .Chart__Canvas {
  max-height: 400px;
  min-width: auto;
}

@media screen and (max-width: 800px) {
  #Section__Coins {
    width: 100%;
    padding: 24px 12px;
  }
  #Section__Coins .Coins__Ref {
    width: 100%;
  }
  #Section__Coins .Coins__Ref .Coins__Cards__Heading {
    font-size: 2rem;
  }
  #Section__Coins .Coins__Cards {
    width: 100%;
  }
  #Section__Coins .Coins__Cards .Coin__Card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info {
    width: 100%;
    margin-bottom: 12px;
  }
  #Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer {
    height: 60px;
  }
  #Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__History {
    padding: 22px 18px;
  }
  #Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Info .CCI__Footer .CCI__Social .Card__Social__Icons {
    margin-left: 16px;
  }
  #Section__Coins .Coins__Cards .Coin__Card .Coin__Card__Price {
    width: 100%;
  }
  #Coin__Chart nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #Coin__Chart nav ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Coin__Chart .Uncharted {
    width: 100%;
    overflow-x: scroll;
  }
  #Coin__Chart .Chart__Alpha {
    width: 2000px;
  }
}

#Section__Exchange {
  width: 90%;
  padding: 24px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Section__Exchange .Exchanges__Supported {
  background-color: #2A2A2A;
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
}

#Section__Exchange .Drop__Supported {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.Exchanges__Supported__Group {
  margin-top: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 16px;
}

.Exchanges__Supported__Group .Chip__Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.Exchanges__Supported__Group .Supported__Chip {
  padding: 16px 32px;
  background-color: #0F0F0F;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  #Section__Exchange {
    width: 100%;
    padding: 24px 12px;
  }
  #Section__Exchange .Exchanges__Supported {
    padding: 8px;
  }
  #Section__Exchange .Drop__Supported {
    height: 50px;
  }
  #Section__Exchange .Drop__Supported h2 {
    font-size: 1.2rem;
  }
  .Exchanges__Supported__Group {
    margin-top: 24px;
    display: block;
  }
  .Exchanges__Supported__Group .Chip__Container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .Exchanges__Supported__Group .Chip__Container:not(:last-child) {
    margin-bottom: 16px;
  }
  .Exchanges__Supported__Group .Supported__Chip {
    padding: 16px 24px;
    background-color: #0F0F0F;
    border-radius: 8px;
  }
}
/*# sourceMappingURL=index.css.map */